body
{
	font-family: "Open Sans", sans-serif;
	background-color: #F6F9FB;
	min-height: 100%;
}

/* navbar settings */

.navbar
{
	--bs-navbar-padding-x: 3rem;
	--bs-navbar-brand-margin-end: 1.5rem;
	--bs-navbar-brand-font-size: 0.8rem;
}

.logo
{
	width: 10em;
	height: auto;
}

.nav-li
{
	font-weight: 600;
}

.btn
{
	--bs-btn-padding-x: 1rem;
	--bs-btn-padding-y: 0;
	--bs-btn-border-radius: 1rem;
	--bs-btn-font-size: 0.7rem;
	font-weight: 600;
}

/* main ruleset */
main
{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	font-size: small;
	padding-top: 2rem;
}

main h1
{
	font-weight: 600;
	font-size: 3.5rem;
}

main p
{
	text-align: center;
	font-size: 0.8rem;
	line-height: 2rem;
}

.lp-description
{
	padding: 0em 1.8em;
}

.store-btn
{
	--bs-btn-padding-x: 1rem;
    --bs-btn-padding-y: 0.5rem;
    --bs-btn-border-radius: 2rem;
    --bs-btn-font-size: 1rem;
}

.bi-apple
{
	width: 18px;
	height: 18px;
}

.bi-play-fill
{
	width: 25px;
	height: 25px;
}

/*figure ruleset*/

figure
{
	padding: 4em;	
}

.circle
{
	display: flex;
	align-content: space-around;
	flex-wrap: wrap;
	justify-content: center;
	width: 8rem;
	height: 8rem;
	border-radius: 50%;
}

.specs
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.specs-b
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 2rem;
}

.icons
{
	width: 4rem;
	height: 4rem;
}

.goals
{
	background-color: #EBE8FB;
}

.goals path
{
	fill: #AB7EEC;
}

.analysis
{
	background-color: #DAF4EF;
}

.analysis path
{
	fill:#1ACA94;
}

.settings
{
	background-color: #F8E5EA;
}

.settings path
{
	fill: #FF556F;
}

.social
{
	background-color: #F8F1DE;
}

.social path
{
	fill: #FFB30F;
}

.rocket
{
	background-color: #E2F2FA;
}

.rocket path
{
	fill: #50B9E8;
}

/*footer ruleset*/

footer
{
	font-size: 0.8rem;
	font-style: normal;
	font-weight: lighter;
	color: #999999;
	padding: 2rem;
}

.footer-title
{
	font-size: 1rem;
	font-weight: 600;
}

footer p
{
	margin-bottom: 0.4rem;
	font-weight: lighter;
}

.copyright
{
	display: flex;
	margin-top: 1rem;
}

/* tablet ruleset */

@media screen and (max-width: 768px)
{
	body
	{
		--bs-body-line-height: 13.5px;
	}

	.navbar 
	{
		--bs-navbar-padding-x: 2rem;
		--bs-navbar-brand-margin-end: 0.5rem;
		--bs-navbar-brand-font-size: 0.7rem;
	}

	.btn
	{
		--bs-btn-padding-x: 0.5rem;
		--bs-btn-padding-y: 0;
		--bs-btn-border-radius: 1rem;
		--bs-btn-font-size: 0.6rem;
	}

	main h1
	{
		font-size: 2.5rem;
	}

	.store-btn
	{
		--bs-btn-padding-x: 1rem;
	    --bs-btn-padding-y: 0.4rem;
	    --bs-btn-border-radius: 2rem;
	    --bs-btn-font-size: 1rem;
	}

	.bi-apple
	{
		width: 18px;
		height: 18px;
	}

	.bi-play-fill
	{
		width: 25px;
		height: 25px;
	}
}

/* small devices ruleset */

@media screen and (max-width: 570px)
{
	body
	{
		--bs-body-line-height: 5.5px;
	}

	.navbar 
	{
		--bs-navbar-padding-x: 1rem;
		--bs-navbar-brand-margin-end: 0.5rem;
		--bs-navbar-brand-font-size: 0.4rem;
	}

	.btn
	{
		--bs-btn-padding-x: 0.5rem;
		--bs-btn-padding-y: 0;
		--bs-btn-border-radius: 1rem;
		--bs-btn-font-size: 0.4rem;
	}

	.lp-description
	{
		padding: 0em 3.8em;
	}

	main h1
	{
		font-weight: 600;
		font-size: calc(1.3rem + 0.5vw);
	}

	main p
	{
		font-size: 0.5em;
		line-height: 12px;
	}

	.store-btn
	{
		--bs-btn-padding-x: 0.7rem;
		--bs-btn-padding-y: 0.2rem;
		--bs-btn-border-radius: 1rem;
		--bs-btn-font-size: 0.4rem;
	}

	.bi-apple
	{
		width: 6px;
		height: 6px;
	}

	.bi-play-fill
	{
		width: 10px;
		height: 10px;
	}

	section
	{
		width: 100%;
		height: auto;
	}

	.circle
	{
		display: flex;
		align-content: space-around;
		flex-wrap: wrap;
		justify-content: center;
		width: 4rem;
		height: 4rem;
		border-radius: 50%;
	}

	.icons
	{
		width: 2rem;
		height: 2rem;
	}

	footer
	{
		font-size: 0.4rem;
		font-style: normal;
		font-weight: lighter;
		color: #999999;
		padding: 2rem;
	}

	.footer-title
	{
		font-size: 0.6rem;
		font-weight: 600;
	}

	footer p
	{
		margin-bottom: 0.4rem;
		font-weight: lighter;
	}

	.copyright
	{
		display: flex;
		margin-top: 1rem;
	}
}
