body
{
	font-family: "Open Sans", sans-serif;
	background-color: #F6F9FB;
}

/* navbar settings */

.navbar
{
	--bs-navbar-padding-x: 3rem;
	--bs-navbar-brand-margin-end: 1.5rem;
	--bs-navbar-brand-font-size: 0.8rem;
}

.logo
{
	width: 10em;
	height: auto;
}

.nav-li
{
	font-weight: bold;
}

.btn
{
	--bs-btn-padding-x: 1rem;
	--bs-btn-padding-y: 0;
	--bs-btn-border-radius: 1rem;
	--bs-btn-font-size: 0.7rem;
}

/* tablet ruleset */

@media screen and (max-width: 768px)
{
	body
	{
		--bs-body-line-height: 13.5px;
	}

	.navbar 
	{
		--bs-navbar-padding-x: 2rem;
		--bs-navbar-brand-margin-end: 0.5rem;
		--bs-navbar-brand-font-size: 0.7rem;
	}

	.btn
	{
		--bs-btn-padding-x: 0.5rem;
		--bs-btn-padding-y: 0;
		--bs-btn-border-radius: 1rem;
		--bs-btn-font-size: 0.6rem;
	}
}

/* small devices ruleset */

@media screen and (max-width: 570px)
{
	body
	{
		--bs-body-line-height: 5.5px;
	}

	.navbar 
	{
		--bs-navbar-padding-x: 1rem;
		--bs-navbar-brand-margin-end: 0.5rem;
		--bs-navbar-brand-font-size: 0.4rem;
	}

	.btn
	{
		--bs-btn-padding-x: 0.5rem;
		--bs-btn-padding-y: 0;
		--bs-btn-border-radius: 1rem;
		--bs-btn-font-size: 0.4rem;
	}

	section
	{
		width: 100%;
		height: 400px;
	}

	footer
	{
		font-size: 0.4rem;
		font-style: normal;
		font-weight: lighter;
		color: #999999;
		padding: 2rem;
	}

	.footer-title
	{
		font-size: 0.6rem;
		font-weight: 600;
	}

	footer p
	{
		margin-bottom: 0.4rem;
		font-weight: lighter;
	}
}
